$black-color:#000;
.page {
  .masthead {
    margin-bottom: 20px;
    border-bottom: 1px solid $black-color;

    .masthead-name {
      font-size: 40px;
      color: $black-color;
      text-decoration: none;

    }
    .main-nav {
      float: right;

      li {
        display: inline-block;
        text-decoration: none;
      }

      li:before {
        content: "|";
        padding: 0 10px;
      }
      li:nth-child(1):before {
        content: "";
        padding: 0;
      }
    }
  }
  footer, .content {
    text-align: center;
  }
  main {
    padding: 0 100px;
    .profession {
      font-weight: bold;
    }
    h2.title{
      margin:0 0 20px ;
    }
    .home-content {
      img {
        margin-bottom: 20px;
      }
    }
    .projects{
      li{
        display: block;
      }

    }
  }
}

.clearfix::after {
  clear: both;
}
